$primary-color: #e50914;
$primaryShadow-color:#b10510;

$background-color: #221f1f;
$background-color-alt: #333333;

$font-color: #f5f5f1;
$font-color-alt:#8e8e8e;
$test-color: #000; 
$alt-color:#047bf5;
 