.slider-container{
    display: flex;
    width: 90%;
    overflow-y: visible;
    margin: 0 auto;
    justify-content: center;
    margin-top: 300px;
    align-items: center;
    overflow-x:clip;
    flex-wrap: wrap;
    .slider-item{
        display: block;
        background-color: red;
        width: 200px;
        height: 120px;
        margin: 1px;
        border-radius: 5px;
        transition: all 200ms ease;
        &:hover{
            transform: scale(170%,300%);
            border-radius: 4px/2px;
            transition: all 200ms ease;
            transition-delay: 200ms;
            background-color: blue;
        }
    }
}